.navigation{
    position: fixed;
    display:flex;
    top: 0;
    left: 0;
    flex-direction: row;
    background-color:  #101820;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.logo{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 650px;
}
.label{
    color: #eaeaea;
    font-size: 20px;
    font-family: helvetica;
    font-weight: bolder;
    margin-right: 50px
}
.menus{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.call-button{
    width: 175px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #0042ce;
    color: #eaeaea;
    margin-top: 15px;
    transition: background-color 200ms linear;

}
.call-button:hover{
    background-color: #89e6d9;
    cursor: pointer;
}
.button-label{
    color: #eaeaea;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    padding-left: 20px;
}

.green-hover{
    transition: color 300ms linear;
}
.green-hover:hover{
    cursor:pointer;
    color: rgb(121, 206, 172);
}
.light-green-hover:hover{
    cursor: pointer;
    color:#89e6d9;
}
.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.information-row{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.info-column{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.info-title{
    display: flex;
    font-family: Helvetica;
    font-weight: bolder;
    margin-bottom: 20px
}
.info-desc{
    display: flex;
    font-family: helvetica;
    transition: color 300ms linear;
    margin-bottom: 20px;
}
.header-hero{
    display: flex;
    justify-content: center;
    background-color: #101820;
    color: #eaeaea;
    align-items:center;
    position: static;
    top: 300px;
    height: 1000px;
}
.container{
    padding-top: 300px;
    padding-right: 700px;
    display: flex;
    flex-wrap: wrap;
    top:0px;
    right: 0px;
    position: sticky;
    width: 850px;
}
.hero-title{    	
    font-size: 30px;
    font-family: helvetica;
    font-weight: bolder;
    left:220px;
    position: relative;
}
.hero-title:valid{
    left: 220px;
    transition: left 1000ms ease-in-out;

}
.hero-content{
    font-size: 50px;
    font-family: serif;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    left: 220px;
    position: relative;
    transition: bottom 700ms ease-in-out
}

.footer > .logo{
    display: flex;
    margin-right: 100px;
    margin-left: -125px;
}
.logo-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 100px;
    margin-left: 100px;
}
.logo-column > img{
    margin-bottom: 20px;
    cursor: pointer;
}
.social-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.call-button-footer{
    background-color: white;
    color: #0042ce;
    border-color: #0042ce;
    width: 200px;
    height: 65px;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 30px;
    transition: color 300ms linear;
    transition:background-color 300ms linear;
}
.call-button-footer:hover{
    background-color:#0042ce;
    color: white;
    border-color: white;
    
}
.social-row> img{
    margin-right: 50px;
}
.copyright{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin-right: 700px;
}
.copyright-desc{
    padding-right: 50px;
    transition: color 300ms linear;

}